
.beatpage {
    background-color: none;
color: none;
}

.starterText {
    font-size: 1.5rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-9.1rem, -1550%);
    color:  #242222;
}

.starterText2 {
    font-size: 1.5rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-8.1rem, -1400%);
    color:  #242222;
}

.starterText3 {
    font-size: 2rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-3.1rem, -900%);
    color:  #242222;
    font-family:fangsong;
    font-style: italic;
    font-family: Brush Script MT;
    color: red;
    z-index: -1;
}

.starterText4 {
    font-size: 1rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-8.6rem, 240%);
    color:  #242222;
    font-family: papyrus;
    color: red;
    z-index: -1;
}

@media screen and (max-width: 750px) {
   
    .starterText {
        font-size: 1rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-6.2rem, -1500%);
        color:  #242222;
    }
    
    .starterText2 {
        font-size: 1rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-5.5rem, -1375%);
        color:  #242222;
    }
    
    .starterText3 {
        font-size: 1rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-1.7rem, -1200%);
        color:  #242222;
        font-family:fangsong;
        font-style: italic;
        font-family: Brush Script MT;
        color: red;
        z-index: -1;
    }
    
    .starterText4 {
        font-size: 1rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-6rem, 265%);
        color:  #242222;
        font-family: papyrus;
        color: purple;
        z-index: -1;
        background: white;
    }
}

.box{
    z-index: 10;
    background: white;
}