.mainBox {
    
    }
    
    
    .songssMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
       background: skyblue;
      }


      .form {
          display: flex;
          
          height: 100%;;
          top: 50%;
          justify-content: center;
          vertical-align: middle;
          align-items: center;
      }
