.Audioplayer {
    --primary: purple;
    --secondary: orangered;
    z-index:-1;
    display: flex;
    font-size: 4rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12rem, 2rem);
    text-decoration: none;
    color: white;
  }



.forwardbackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
}

.forwardbackward:hover {
    color: var(--primary)
}

.playpause {
   background: var(--primary);
   border: none;
   border-radius: 50%;
   width: 75px;
   height: 75px; 
   font-size: 50px;
   color: var(--secondary) !important;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0%,0%);
}

.play {
    position: relative;
    left: 2px;
    color: var(--secondary);
}

.currenttime, 
.duration {
    font-family: monospace;
    font-size: 16px;
    color: black;
}

.currenttime {
    margin-left: 10px;
}

.progressbar {
 --bar-bg: purple;
 --seek-before-width: 0;
 --seek-before-color: orange;
 --knobby:     blue;
 --selectedKnobby: cyan;

 appearance: none;
 background: var(--bar-bg);
 border-radius: 10px;
 position: relative;
 width: 75%;
 height: 11px;
 outline: none;

 font-size: 3rem;
 background: none;
 position: absolute;
 top: 50%;
 left: 50%;
 text-decoration: none;
 transform: translate(-8rem, 9rem);
 color: white;
}

/* Safari styling */
.progressbar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

/* Firefox styling */
.progressbar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.progressbar::-moz-focus-outer{
    border:0;
}

/* progress bar safari and chrome */
.progressbar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* progressbar firefox */
.progressbar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
}

/* knobby - chrome and safari */
.progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

.progressbar:active::-webkit-slider-thumb{
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

/* knobby firefox */
.progressbar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.progressbar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

.currentlyPlaying {
    font-size: 2rem;
 background: none;
 position: absolute;
 top: 50%;
 left: 50%;
 text-decoration: none;
 transform: translate(-11rem, 4rem);
 color: purple;
 font-family: Papyrus ;
 width: 100vh;
}
.duration {
    font-family: monospace;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 160%;
    left: 107%;
}
.currenttime {
    background: none;
    position: absolute;
    top: 160%;
    left: -30%;
    text-decoration: none;

}

.currentlyPlaying {
    font-size: 1.89rem;
 background: none;
 position: absolute;
 top: 50%;
 left: 50%;
 text-decoration: none;
 transform: translate(-9.5%, 7rem);
 color: purple;
 font-family: Papyrus ;
 width: 100vh;
}
.songsLeft{
    font-size: 1.89rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-6%, 10rem);
    color: purple;
    font-family: Papyrus ;
    width: 100vh; 
}



.progressbar {
 --bar-bg: purple;
 --seek-before-width: 0;
 --seek-before-color: orange;
 --knobby:     blue;
 --selectedKnobby: cyan;

 appearance: none;
 background: var(--bar-bg);
 border-radius: 0;
 position: relative;
 width: 175%;
 height: 11px;
 outline: none;

 font-size: 2rem;
 background: none;
 position: absolute;
 top: -65%;
 left: 67%;
 
 
 color: white;
}
   

.Audioplayer {
--primary: rgb(0, 60, 128);
--secondary: orangered;
z-index:-1;
display: flex;

background: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-5rem, 2rem);
text-decoration: none;
color: white;
}


/* .songPhoto {


z-index: 10;    
position:relative;
color:rgba(22, 21, 21, 0.479);



transform: (-10vh, 0);
display: flex;
flex-direction: column;
justify-content:  center;
align-items: center;
box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
object-fit: contain;
background-color: rgba(255, 255, 255,0);
} */


.songPhoto {
    position:relative;
    width: 75%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    
    border-radius: 4%;

    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;  
       
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;

        transform: translate(-10.5rem, -18rem);
}

@media screen and (max-width: 800px) {
    .forwardbackward {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        font-family: monospace;
        font-size: 16px;
        cursor: pointer;
    }
    
    .forwardbackward:hover {
        color: var(--primary)
    }
    
    .playpause {
       background: var(--primary);
       border: none;
       border-radius: 50%;
       width: 75px;
       height: 75px; 
       font-size: 40px;
       color: var(--secondary) !important;
       display: flex;
       justify-content: center;
       align-items: center;
       transform: translate(0%,0%);
    }
    
    .play {
        position: relative;
        left: 2px;
        color: var(--secondary);
    }
    .pause {
        position: relative;
        color: var(--secondary);
    }
    
    .duration {
        font-family: monospace;
        font-size: 16px;
        color: black;
        position: absolute;
        top: 160%;
        left: 107%;
    }
    .currenttime {
        background: none;
        position: absolute;
        top: 160%;
        left: -30%;
        text-decoration: none;
    
    }
    .currentlyPlaying {
        font-size: 1.89rem;
     background: none;
     position: absolute;
     top: 50%;
     left: 50%;
     text-decoration: none;
     transform: translate(-19%, 7rem);
     color: rgb(185, 0, 185);
     font-family: Papyrus ;
     width: 100vh;
    }
    .progressbar {
     --bar-bg: rgb(211, 0, 211);
     --seek-before-width: 0;
     --seek-before-color: orange;
     --knobby:     blue;
     --selectedKnobby: cyan;
    
     appearance: none;
     background: var(--bar-bg);
     border-radius: 0;
     position: relative;
     width: 175%;
     height: 11px;
     outline: none;
    
     font-size: 2rem;
     background: none;
     position: absolute;
     top: -65%;
     left: 67%;
     
     
     color: white;
    }
}    

.Audioplayer {
    --primary: purple;
    --secondary: orangered;
    z-index:-1;
    display: flex;
    
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5rem, 2rem);
    text-decoration: none;
    color: white;
  }

  .songPhoto {
    position:relative;
    width:  200%;
    display: flex;
    align-items: center;
    
    z-index: 1;
    
    border-radius: 4%;

    height: 200px;

     
       
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;

        transform: translate(-45%, -135%);
}