/* .navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

  } */

.nav-item {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

  .tlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    top: -2%;
    left: 0%;
    cursor: pointer;
    font-size: 1.8rem;
    transform: translate(25%, 50%);
    background: none;
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    
  }

  .whitetlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    top: -20%;
    left: 0%;
    cursor: pointer;
    font-size: 1.8rem;
    transform: translate(25%, 50%);
    background: none;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  .whitetlname:hover {
    border-bottom: 4px solid rgb(163, 37, 146);
    transition: all 0.2s ease-out;
  }

  .tlname:hover {
    border-bottom: 4px solid orangered;
    transition: all 0.2s ease-out;
  }

  .logopic {
    z-index: 6;
    position: absolute;
    justify-self: start;
    top: -10;
    left: 10px;
    cursor: pointer;
    font-size: 5rem;
    transform: translate(7%, 150%);
    background: none;
    color: rgb(235, 157, 13);
    display: flex;
    text-decoration: none;
    align-items: center;
  }


  .GiLion {
    margin-left: 1rem;
    font-size: 1.8rem;
      } 

      .GiHamburgerMenu {
      
        background: #242222;
        display: flex;
        text-decoration: none;
        align-items: center;
        position: absolute;
        justify-self: start;
        cursor: pointer;
        font-size: 5rem;
        z-index: 8;
        margin-left: 1rem;
        font-size: 1.8rem;
      }
      .GoX {
        
        background: #242222;
        display: flex;
        text-decoration: none;
        align-items: center;
        position: absolute;
        justify-self: start;
        cursor: pointer;
        font-size: 5rem;
        z-index: 8;
        margin-left: 1rem;
        font-size: 1.8rem;
      }
  

.Beats {
 font-size: 3rem;
 background: none;
 position: absolute;
 top: 50%;
 left: 50%;
 text-decoration: none;
 transform: translate(-3.1rem, 18rem);
 color: white;

 }

  .Not-Beats {
    background: transparent;
    color: transparent;
    pointer-events: none;
    transform: translate(-100rem, -200rem);
  }
  .Beatpage {
    font-size: 3rem;
    background: none;
    position: absolute;
    top: 60%;
    left: 50%;
    text-decoration: none;
    transform: translate(-3.1rem, 23rem);
    color: white;
    }
   
     .Not-Beatpage {
       background: transparent;
       color: transparent;
       pointer-events: none;
       transform: translate(-100rem, -200rem);
     }

     .Songs {
      font-size: 3rem;
      background: none;
      position: absolute;
      top: 60%;
      left: 50%;
      text-decoration: none;
      transform: translate(-3.1rem, 28rem);
      color: white;
      }
     
       .Not-Songs {
         background: transparent;
         color: transparent;
         pointer-events: none;
         transform: translate(-100rem, -200rem);
       }   



  .Beats:hover {
    border-bottom: 4px solid rgb(163, 37, 146);
    transition: all 0.2s ease-out;
  }


  .Pricing {
    font-size: 3rem;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3.1rem, 24rem);
    text-decoration: none;
    color: white;
  }
  .Not-Pricing {
    background: transparent;
    color: transparent;
    pointer-events: none;
    transform: translate(-100rem, -200rem);
  }
  .Pricing:hover {
    border-bottom: 4px solid rgb(163, 37, 146);
    transition: all 0.2s ease-out;
  }





  .About {
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translate(25%, 50%);
    background: none;
    align-items: flex-end;
    display: inline-block;
    text-decoration: none;
  }


  .BurgerMenu {
    position: absolute;
    top: 0;
    right: 7.5rem;
    transform: translate(25%, 0%);
    background: transparent;
    align-items: flex-end;
    display: inline-block;
    text-decoration: none;
    color:black;
    font-size: 5rem;
  }
 
  .BurgerChange {
    position: absolute;
    top: 0;
    right: 7.5rem;
    font-size: 5rem;
    transform: translate(25%, 0%);
    background: none;
    align-items: flex-end;
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  /* .BurgerMenu:hover {
    border-bottom: 4px solid rgb(163, 37, 146);
  } */


  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 12;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
   background: white;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  .nav-item {
    position: relative;
    display: grid;
    align-items: center;
    z-index: 2;
  }
  .menu-icon {
    position: relative;
  }


  
  @media screen and (max-width: 750px) {
    .menu-icon {
      position: relative;
    }
    .nav-item {
      position: relative;
      display: grid;
      align-items: center;
      height:0;
      

    }

    .NavbarItems {
      position: relative;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 12;
      left: 0%;
      opacity: 1;
      transition: all 0.5s ease;
     z-index:0
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 5;
    }
   


    .BurgerMenu {
      position: absolute;
      top: 6%;
      right: 12%;
      transform: translate(25%, 0%);
      background: none;
      align-items: flex-end;
      display: inline-block;
      text-decoration: none;
      color: black;
      opacity: 1;
      font-size: 4rem;
    
    }
    .BurgerChange {
      position: absolute;
      top: 7%;
      right: 12%;
      transform: translate(25%, 0%);
      background: none;
      align-items: flex-end;
      display: inline-block;
      text-decoration: none;
      color: white;
      opacity: 1;
      font-size: 4rem;
    }

    .About {
      position: absolute;
      top: 0;
      right: 2rem;
      transform: translate(25%, 50%);
      background: none;
      align-items: flex-end;
      display: inline-block;
      text-decoration: none;
      height:0;
    }

    .Beats {
      font-size: 2.8rem;
      background: none;
      position: absolute;
      top: 50%;
      left: 50%;
      text-decoration: none;
      transform: translate(-3.1rem, 18rem);
      color: white;
      height:0;
      
    }
      .Not-Beats {
        background: transparent;
        color: transparent;
        z-index:5;
        transform: translate(-100rem, -200rem);
        pointer-events: none;
        height: 0;
      }
      .Beatpage {
        font-size: 3rem;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        text-decoration: none;
        transform: translate(-3.1rem, 23rem);
        color: white;
        height:0;
      
        }
       
         .Not-Beatpage {
           background: transparent;
           color: transparent;
           pointer-events: none;
           transform: translate(-100rem, -200rem);
           height: 0;
         }
         .Songs {
          font-size: 3rem;
          background: none;
          position: absolute;
          top: 60%;
          left: 50%;
          text-decoration: none;
          transform: translate(-3.1rem, 28rem);
          color: white;
          }
         
           .Not-Songs {
             background: transparent;
             color: transparent;
             pointer-events: none;
             z-index: -50;
             transform: translate(-100rem, -200rem);
           }  


    .Pricing {
      font-size: 2.8rem;
      background: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-3.1rem, 24rem);
      text-decoration: none;
      color: white;
    }
    
    .logopic {
      z-index: 6;
      position: absolute;
      justify-self: start;
      top: 1.5%;
      left: 10px;
      cursor: pointer;
      font-size: 2.5rem;
      background: none;
      color: rgb(235, 157, 13);
      display: flex;
      text-decoration: none;
      align-items: center;
    }


  }

  .tlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    top: -2%;
    left: 0%;
    cursor: pointer;
    font-size: 1.1rem;
    transform: translate(25%, 50%);
    background: none;
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    
  }

  .whitetlname {
    z-index: 6;
    position: absolute;
    justify-self: start;
    top: -20%;
    left: 0%;
    cursor: pointer;
    font-size: 1.1rem;
    transform: translate(25%, 50%);
    background: none;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
  }
